<div th:fragment="medicosFragment" class="card shadow-sm p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-primary mb-0">Lista de Médicos</h4>
        <button class="btn btn-primary" onclick="cargarVista('Admin', 'FormMedico')">+ Nuevo Médico</button>
    </div>
    <div th:if="${eliminado}" class="alert alert-success" th:text="${eliminado}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medico : ${medicos}">
            <td th:text="${medico.nombre}">Nombre</td>
            <td th:text="${medico.especialidad}">Especialidad</td>
            <td th:text="${medico.email}">Email</td>
            <td th:text="${medico.telefono}">Teléfono</td>
            <td>
                <form id="delete-medico"
                      th:action="|Admin/EliminarMedico/${medico.id}|"
                      method="post"
                      onsubmit="return confirmarYEnviar(event, 'delete-medico')">
                <button type="button" class="btn btn-sm btn-warning me-1"
                        th:onclick="|cargarVista('Admin', 'EditarMedico/${medico.id}')|">
                    Editar
                </button>
                <button type="submit" class="btn btn-sm btn-danger"> Eliminar </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>